<style>
  img {
    width: 50%;
  }

  .sample {
    text-align: center;
    color: #1956AF;
    border-radius: 10px;
    background-color: #E1EDFF;
    border: 1px solid #1956AF;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .docs-markdown h1 {
    color: #6F4312;
  }

  .body {
    background-color: #8E6F4C;
  }

  .bg-white {
    background-color: #FEFAF6;
  }

  .bg-gray-100 {
    background-color: #FAF3EC;
  }

  .block.mt-1 {
    color: #6F4312;
  }

  .mr-3 {
    fill: #6F4312;
  }

  .ml-3 {
    fill: #6F4312;
  }

  .bg-blue-500 {
    background-color: #6F4312;
  }

  .text-blue-500 {
    color: #6F4312;
  }

  .bg-blue-100 {
    background-color: #EADBC8;
  }

  .docs-markdown blockquote {
    background-color: #FAF3EC;
  }

  *,
  :after,
  :before {
    border: 0 solid #EADBC8;
    box-sizing: border-box;
  }

  .bg-gray-200 {
    background-color: #FAF3EC;
  }

  .md\:text-blue-500 {
    color: #6F4312;
  }

  .border-blue-500 {
    border-color: #6F4312;
  }

  .border-gray-300 {
    border-color: #EADBC8;
  }

  .text-gray-400 {
    color: #DAC0A3;
  }

  .docs-markdown a:not(.no-link) {
    color: #6F4312;
  }

  hover:text-blue-500 {
    color: #6F4312;
  }

  hover:text-blue-400 {
    color: #6F4312;
  }

  .text-gray-600 {
    color: #DAC0A3;
  }

</style>
